body {
    font-family: var(--font-body);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
}

.title  {
    font-size: 15px;
    padding: 35px;
}

.aboutUs  h1  {
    display: flex;
    justify-content: center;
    Margin: 50px 0 60px 0;
    font-family: var(--font-navbar);
    color: var(--main-text-color);
    font-size: 35px;
}

#nameOne    {
    margin: 15px;
}

#photoOne img  {
    height: 200px;
    width: 200px;
    border-radius: 0 100px 100px 100px;
    margin-top: 2px;
}

.socialMedia    {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.socialMedia img    {
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

.hover:hover  {
    opacity: 0.5;
    rotate: 30deg;
}


.projectExplanation {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 100px;
}

.projectExplanation p  {
    width: 60vw;
}

@media screen and (min-width: 750px) {
    .teamMembers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
    }
}


@media screen and (min-width: 840px) {
    .teamMembers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
}

@media screen and (max-width: 750px) {
    .socialMedia {
        justify-content: center;
        padding: 5px;
    }

}