.Disclaimer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: justify;
    font-family: var(--font-body);

}

.title  {
    font-size: 25px;
    padding: 35px;
    max-width: 90%;
    text-align: center;
}


