body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{

}

.footer ul  {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
}

.footer a   {
    text-decoration: none;
    color: var(--second-text-color);
    font-family: var(--font-navbar);
}