@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstNavBar {
    background-color: var(--second-bg-color);
    position: sticky;
    top: 0;
    z-index: 100;

}

.firstNavBar a   {
    text-decoration: none;
    font-family: var(--font-navbar);
    color: var(--second-text-color);
}

.firstNavBar ul  {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.mainImage img  {
    width: 100vw;
    margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .firstNavBar ul     {
        flex-wrap: wrap;
        padding: 5px;
    }
    .firstNavBar a  {
        margin: 10px;
        font-size: x-small;
    }
}
