/* Début du CSS pour la page tribute */
img{
    width: 100%;
    height: auto;
}

.tribute{
    display: flex;
    background-color: rgb(239 233 234);
    /*width: 100%;
    height: auto;*/
}

/* Style pour l'image */
.tributeIMG{
    display: flex;
    justify-content: end;
    margin: 3.5em 3.5em 2em 0;
    width: 950px;
    height: 850px;

}

.blockquotes{
    font-size: 1.4em;
    width: 50%;
    margin-top: 2em;
    margin-left: 3em;
}

blockquote{
    width: 90%;
    padding: 1em;
    font-size: 1.1em;
}


/*  Style pour l'auteur */
cite{
    display: inline-block;
    padding-top: 1em;
}

/* Création des cercles pour les Réseaux Sociaux */
.cercles{
    background-color: aqua;

}

.cercleFacebook{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    left: 150px;
}

.cercleInstagram{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    left: 450px;
}

.cercleTwitter{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    right: 450px;
}

.cercleShop{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    right: 150px;
}

/* Style du titre */
#titleRS{
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: rgb(239 233 234);
}

@media screen and (max-width: 420px) {
    .tributeIMG{
        display: none;
    }

    .blockquotes{
        font-size: 1em;
        width: 100%;
        height:auto;
    }

    blockquote{
        padding-left: 0;
    }

    .cercles{
        /*display: flex;
        justify-content: space-around;*/
    }

    .cercleFacebook{
        /*display: block;
        position: absolute;
        bottom: -350px;
        left: 50px;*/
    }

    .cercleInstagram{
        /*display: block;
        position: absolute;
        bottom: -350px;
        left: 230px;*/
    }

    .cercleTwitter{
        /*display: block;
        position: absolute;
        bottom: -550px;
        left: 50px;*/
    }

    .cercleShop{
        /*display: block;
        position: absolute;
        bottom: -550px;
        left: 230px;*/
    }
}

/* Fin du CSS pour la page tribute */