/* CSS FOR THE QUOTES SECTION */

.TitleQuotes    {
    display: flex;
    justify-content: center;
    Margin: 50px 0 60px 0;
    font-family: var(--font-navbar);
    color: var(--main-text-color);
}

.title  {
    font-size: 15px;
    padding: 35px;
    text-align: center;
}


.TitleQuotes h1 {
    font-size: 32px;
}

/* CSS PROPERTIES FOR THE VIDEO */
iframe {
    width:635px;
    height: 375px;
}

/* CSS PROPERTIES FOR THE DIV CONTAINING THE QUOTES*/
.parentQuotes   {
    background-color: var(--main-bg-color);
    font-family: var(--font-body);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parentQuotes p {
    margin-bottom: 10px;
}

/* CSS PROPERTIES FOR THE QUOTE CARDS */
.quoteOne {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--font-body);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 110px;
}



.quoteTwo   {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 110px;
}


.quoteThree {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 110px;
}

.quoteFour  {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 110px;
}


.quoteFive  {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 150px;
}

.quoteSix   {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(101, 81, 81,.2), 0 6px 20px 0 rgba(101, 81, 81,.2);
    margin-bottom: 150px;
}

/* CSS PROPERTIES FOR THE MEDIA QUERIES*/

@media screen and (max-width: 560px) {
    body {
        width: 100vw;
    }
    iframe {
        width: 100vw;
        height: 315px;
    }
    .quoteOne .quoteTwo .quoteThree .quoteFour .quoteFive .quoteSix {
        width: 100vw;
        margin-right: 20px;
    }

}
@media screen and (min-width: 561px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
