@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* Variables */


:root   {



    /* Colours */

    --main-bg-color: #EFE9EAFF;
    --second-bg-color: #655151;
    --main-text-color: #655151;
    --second-text-color: #EFE9EAFF;

    /* Fonts */

    --font-body:'Roboto', sans-serif;
    --font-navbar: Michroma, sans-serif;
}

*   {
    padding: 0;
    margin: 0;
}